.handle-horizontal {
    height: 11px;
    cursor: ns-resize;
    background-color: #dee2e6 !important;
}

.handle-vertical {
    width: 11px;
    cursor: ew-resize;
    background-color: #dee2e6 !important;
}